/*GLOBAL*/
body {
    margin: 0;
    font: 13px/18px 'Lucida Grande',Arial,sans-serif;
    background: #EFEFEF;
    color: #000;
}

#name {
	padding: 0 400px 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
	padding: 12px 100px 12px 12px;
	font-size: 20px;
	color: #000;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: right;
    padding: 25px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #999;
}*/

.contact-container {
	border-color: #222;
	border-width: 10px;
}
.contact-container:hover .contact-icon{
	opacity: 0.6;
}

.contact-container .contact-icon:hover {
	opacity: 1.0;
	height: 65px; 
	width: auto;
}

.contact-icon {
	padding: 10px 20px;
	height: 57px;
	width: auto;
}

.main{
	margin: 50px 65px;
    padding: 0 0;
    max-width: 900px;
	
}

.project-item {
	padding: 15px 0;
	height: 200px;
}

.project-image {
	width: 200px;
	height: 200px;
	border-width: 6px;
	border-style: solid;
	border-radius: 8px;
	border-color: #999;
	padding: 0 0 0 0;
	margin: 0 40px 0 0;
	float: left;
	background: #999;
}

.image {
	width: 100%;
	height: 100%;
}

.profile-image {
	width: 175px;
	height: 175px;
}

.link:hover a{
	font-size: 25px;
}